# Cline Rules

## Some background of this project:

1. This is a kotlin full stack project
   - Backend Tech stack: Http4k, Exposed, PostgreSQL, Flyway, JUnit 5, Kotest, Mockk
   - Frontend Tech stack: Compose Multiplatform, Decompose, MVIKotlin, Coil, Coroutines, Koin, Ktor, Ktorfit, KStore, Kotlin Testing, Mokkery
   - For more information about the tech stack, please refer to [`build-src/libs.versions.toml`](./build-src/libs.versions.toml)
2. VSCode is not properly configured so do not correct any import errors
3. The frontend target Android, Desktop, and Web in both Kotlin/JS and Kotlin/wasmJs.
4. The [`conduit-frontend`](./conduit-frontend) module is further divided into several modules as following:
   - [`frontend-decompose-logic`](conduit-frontend\frontend-decompose-logic): The shared business logic and navigation logic implemented with Decompose and MVIKotlin.
   - [`frontend-compose-ui`](conduit-frontend\frontend-compose-ui): The Compose UI implementation.
   - [`app-android`](conduit-frontend\app-android): The Android app implementation.
   - [`app-desktop`](conduit-frontend\app-desktop): The Desktop app implementation.
   - [`app-web`](conduit-frontend\app-web): The Web app implementation.
